In [17]:
%matplotlib inline
import numpy as np
import pandas as pd
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

In [18]:
# 한국어 표시를 위해 나눔스퀘어 사용
# matplotlib 폰트설정
plt.rc('font', family='NanumSquareOTF') # For MacOS

NameError: name 'plt' is not defined

In [19]:
data = pd.read_csv('daegu.csv', encoding = 'CP949')
data.head()

,월,일,역번호,역명,승하,05~06,06~07,07~08,08~09,09~10,...,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,일계
0,1,1,1150,설화명곡,승차,45,55,81,128,152,...,241,226,208,201,109,94,64,38,4,2855
1,1,1,1150,설화명곡,하차,3,114,63,70,85,...,168,192,245,242,188,189,197,145,111,2697
2,1,1,1160,화원,승차,29,41,45,95,158,...,240,220,181,152,83,97,60,38,10,2626
3,1,1,1160,화원,하차,1,80,52,62,89,...,279,240,230,227,179,104,146,102,82,2753
4,1,1,1170,대곡,승차,44,80,97,152,222,...,314,301,300,223,168,96,119,64,22,3933

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38766 entries, 0 to 38765
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   월       38766 non-null  int64
 1   일       38766 non-null  int64
 2   역번호     38766 non-null  int64
 3   역명      38766 non-null  object
 4   승하      38766 non-null  object
 5   05~06   38766 non-null  int64
 6   06~07   38766 non-null  int64
 7   07~08   38766 non-null  int64
 8   08~09   38766 non-null  int64
 9   09~10   38766 non-null  int64
 10  10~11   38766 non-null  int64
 11  11~12   38766 non-null  int64
 12  12~13   38766 non-null  int64
 13  13~14   38766 non-null  int64
 14  14~15   38766 non-null  int64
 15  15~16   38766 non-null  int64
 16  16~17   38766 non-null  int64
 17  17~18   38766 non-null  int64
 18  18~19   38766 non-null  int64
 19  19~20   38766 non-null  int64
 20  20~21   38766 non-null  int64
 21  21~22   38766 non-null  int64
 22  22~23   38766 non-null  int64
 23  23~24   38766 non-null  int64
 24  일계      38766 non-null  int64
dtypes: int64(23), object(2)
memory usage: 7.4+ MB

In [21]:
dinfo= pd.read_csv('daegu_station.csv',encoding = 'CP949')  #한글파일 csv인 경우 engine옵션 필요
dinfo.head()

,역번호,역사명,노선번호,노선명,영문역사명,한자역사명,환승역구분,환승노선번호,환승노선명,역위도,역경도,운영기관명,역사도로명주소,역사전화번호,데이터기준일자
0,95,다대포해수욕장,S2601,부산도시철도 1호선,Dadaepo Beach,多大浦海水浴場,일반역,NaN,NaN,35.089951,128.973971,부산교통공사,부산광역시 사하구 다대로 지하 692,051-678-6195,2020-02-28
1,96,다대포항역,S2601,부산도시철도 1호선,Dadaepo Harbor,多大浦港,일반역,NaN,NaN,35.081631,128.977636,부산교통공사,부산광역시 사하구 다대로 지하 548,051-678-6196,2020-02-28
2,97,낫개역,S2601,부산도시철도 1호선,Natgae,羅 浦,일반역,NaN,NaN,35.074433,128.977041,부산교통공사,부산광역시 사하구 다대로 지하 422,051-678-6197,2020-02-28
3,98,신장림역,S2601,부산도시철도 1호선,Sinjangnim,新長林,일반역,NaN,NaN,35.065265,128.979873,부산교통공사,부산광역시 사하구 다대로 지하 310,051-678-6198,2020-02-28
4,99,장림역,S2601,부산도시철도 1호선,Jangnim,長林,일반역,NaN,NaN,35.057419,128.971279,부산교통공사,부산광역시 사하구 다대로 지하 230,051-618-6199,2020-02-28

* 데이터 정제 작업

In [22]:
#역명 양쪽 공백 제거
data['역명'] = data['역명'].str.strip()

#역명 중간 공백 제거
data['역명'] = data['역명'].str.replace(" ","")

In [23]:
data['역명']

0        설화명곡
1        설화명곡
2          화원
3          화원
4          대곡
         ...
38761      지산
38762      범물
38763      범물
38764      용지
38765      용지
Name: 역명, Length: 38766, dtype: object

In [24]:
# 1.1. 컬럼명변경

In [25]:
data.columns

Index(['월', '일', '역번호', '역명', '승하', '05~06', '06~07', '07~08', '08~09',
       '09~10', '10~11', '11~12', '12~13', '13~14', '14~15', '15~16', '16~17',
       '17~18', '18~19', '19~20', '20~21', '21~22', '22~23', '23~24', '일계'],
      dtype='object')

In [26]:
data.columns = ['월', '일', '역번호', '역명', '구분', 
                '5시', '6시', 
                '7시', '8시', '9시', 
                '10시', '11시', '12시', 
                '13시', '14시', '15시', 
                '16시', '17시', '18시', 
                '19시', '20시', '21시', 
                '22시', '23시', '합계']

data.columns

Index(['월', '일', '역번호', '역명', '구분', '5시', '6시', '7시', '8시', '9시', '10시', '11시',
       '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시',
       '22시', '23시', '24시'],
      dtype='object')

In [35]:
#데이터 타입 변경
data['월'] = data['월'].astype('str')
data['일'] = data['일'].astype('str')
data['월일'] = pd.to_datetime('2020'+ data['월'] +data['일'],'%Y-%m-%d')

AssertionError:

In [34]:
#결측데이터확인
data.insull().sum()

AttributeError: 'DataFrame' object has no attribute 'insull'

In [36]:
#데이터 검증: 역별로 데이터 건수 동일한지 체크
d_check = pd.DataFrame(data.groupby(['역번호', '역명', '구분'])['월일'].count())
d_check=d_check.reset_index()
d_check.head()

KeyError: 'Column not found: 월일'

In [ ]:
d_check[d_check['월일']]<365

In [ ]:
#정제된 데이터 파일로 저장, 한글encoding
data.to_csv('daegu_pre.csv',encoding='CP949',index=False)

In [ ]:
data['합계'] = data.sum(axis=1)
data.head()

In [38]:
#시간대별 분석이 아니므로 일합계만 처리
df = data[['월일', '역번호', '역명', '구분', '합계']]
df.head()

KeyError: "['월일', '합계'] not in index"

*승/하차 평균으로 1일 이용객 합계만들기

In [39]:
#일자로 groupby 승하차 합계의 평균을 1일 이용객수로 산정
dfg = df.groupby(['월일', '역번호', '역명'])['합계'].mean()

NameError: name 'df' is not defined

In [40]:
dfg.head(10)

NameError: name 'dfg' is not defined

In [ ]:
#seriese를 데이터프레임으로 재처리
dfg2=pd.DataFrame(dfg)
dfg2.head()

In [ ]:
#index reset
dfg2 = dfg2.reset_index()
dfg2.head()

In [ ]:
#컬럼명 변경 합계 ->이용객수
dfg2.columns
dfg2.columns = ['월일', '역번호', '역명', '이용객수']
dfg2

In [ ]:
dfg3 = pd.DataFrame(round(dfg2.groupby(['역번호', '역명'])['이용객수'].mean()))
dfg3

In [ ]:
#이용객수로 정렬
dfg3 = dfg3.sort_values(by='이용객수', ascending = False)
dfg3.head(20)